.contain{
  display: flex;
}
.sdiv{
  background-color: rgb(26, 25, 25);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70px;
  padding-left: 10px;
  padding-top: 20px;
}
.spider{
  width: 40px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.idiv{
  background-color: gray;
  position: fixed;
  top: 0;
  left: 70px;
  bottom: 0;
  width: 170px;
  padding-left: 10px;
  padding-top: 20px;
}
.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 14px;
}
.s{
  margin-bottom: 15px;
}
.a{
  margin-right: 7px;
}